body{
    text-align: center;
}


#clockdiv{
    margin-bottom: 50px;
    width:100%;
    
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    width: 12%;
    border-radius: 3px;
    background: orange;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    width: 100%;
    border-radius: 3px;
    background: #fb7b13;
    display: inline-block;
    font-size: 40px;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}